
<div style="display: flex">
    <div class="rectangle"></div>
    <div class="container">
        <div class="info">
            <h1>Who are you?</h1>
            <div class="firstRow">
                <img class="avatar" src="assets/img/vibri.png">
                <p>
                    I don't know where to start, i’m not good writing bio, SO my name is <span style="color: #FF5A62">Mario</span>, right now i’m <span style="color: #FF5A62">23</span> years old, i’m <span style="color: #FF5A62">male</span> and i’m from <span style="color: #FF5A62">Naples</span>, Italy. 
                    I like to waste my time playing videogames on my 5 years old PC (time really passes quickly) and trying to create graphic design stuff. 
                    I’m the most indecisive persone in the world, i don’t like to choose, expecially when it’s food related!<br>
                </p>
            </div>
            <p>
                I love everything about technology, and i always try to remain updated about every new tech. My favourite videogame genre is FPS! F***k graphic and story in videogames, all i want is gameplay! 
            </p>
            <p>
                Lately in this last year i started to get interested in graphic design thanks to Caffe Design podcast, and i began to play around with graphic software.
                I also have an <span style="font-size: 0.5em;">inactive</span> Tiktok account where i make random videos about <span style="text-decoration: line-through;">Minecraft</span> videogames and random stuff where i got more than 122k follower and 3M likes
            </p>
        
        </div>
    </div>
</div>
