
<div style="display: flex">
    <div class="rectangle"></div>
    <div class="container">
        <div class="info">
            <h1>Where am i?</h1>
            <p>
                This is my little useless space on the internet, so feel free to stay here if you have nothing better to do.<br>
                If you want to see my “more serious” portfolio site, press this <a href="https://xjaiki.github.io/">HYPERTEXT</a> (wow such internet)<br>
                I’m a graphic and web designer wannabe soooo don’t be too much rude on my graphics stuff, i’m still learning.<br>
                This website is made all by my wonderfull hurting hands, and designed with my lil brain.<br>
                Why are you still here in this boring welcome page? Go check the other sections! I’m sure there’ll be something you’d like to see 
                <span style="font-size: 0.5em;">i hope.</span><br>
            </p>
        </div>
    </div>
    
</div>

