
h1 {
    margin: 0;
    font-size: 5vw;
    font-weight: 100;
    color: #FF5A62;
}
h2,h3 {
    margin: 0;
}


p {
    margin: 0;
    font-size: 1.8vw;
    font-weight: 100;
}

li {
    font-size: 1.8vw;
    font-weight: 100;
}

.info {
    margin-bottom: 10px;
}

.avatar {
    width: 15%;
    height: 15%;
}

.rectangle {
    background-color: #FF5A62;
    width: 1%;
    margin:0;

    margin-top: 6vw;
    margin-right: 2vw;
}

.container {
    margin-left: 0;
    display: flex;
    padding: 0;
}

.info {
}

.firstRow {
    display: flex;
    gap: 30px;
    align-items: center;
}

.dataTitle {
    font-size: 1.5em;
    font-weight: 400;
}

.dataCountry {
    font-size: 1.2em;
    font-weight: 100;
}

.infoContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.data {
    width: 20%;
}

.monsterImg {
    width: 100%;
}

.casRow {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

.casRow img {
    width: 15%;
}

.separator {
    background-color: grey;
    height: 1px;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
}

@media screen and (max-width: 600px) {
    .info {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .rectangle {
        width: 3vw;
        margin-top: 12vw;
    }

    .firstRow {
        flex-wrap: wrap;
    }

    .avatar {
        margin-top: 5px;
        width: 80vw;
    }

    h1 {
        font-size: 10vw;
    }

    p {
        font-size: 5vw;
    }
  }
