nav {

    text-transform: uppercase;

    margin-top: 0.5vw;
    margin-left: 3vw;


    display: flex;
    justify-content: flex-start;
    gap: 1.5vw;

}

a {
    font-weight: 400;
    font-size: 1vw;
    color: black;
    text-decoration: none;
}

.onit {
    color: #FF5A62;
}

@media screen and (max-width: 600px) {
    nav {
        margin-top: 0.5vw;
        margin-left: 6vw;
        justify-content: flex-start;
    }
    a {
        font-size: 3.5vw;
        font-weight: 300;
    }
  }