/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

.darkmode {
    background-color: black;
    color: white;
}

#master {
    margin-bottom: 3vw;
}