<div style="display: flex;">
    <div class="rectangle"></div>
    <div class="container">
        <div class="info">
            <h1>Likes</h1>
            <ul>
                <li>I love trying new pizza toppings, i never take 2 times in a row the same pizza</li>
                <li>My GF ♥</li>
                <li>Master Chief</li>
                <li>Videogames</li>
                <li>Energy drinks (ahah bye bye little heart)</li>
                <li>70's Italy</li>
                <li>Cars (both the pixar film and the <i>automobiles</i>)</li>
                <li>My Oculus Rift :D</li>
            </ul>
        </div>
    </div>
</div>
<div style="display: flex;" id="master">
    <div class="rectangle"></div>
    <div class="container">
        <div class="info">
            <h1>Dislikes</h1>
            <ul>
                <li>Reading mangas</li>
                <li>Mukbang</li>
                <li>Loneliness</li>
                <li>Cluster</li>
                <li>Visual Novel (love u Battler my dear friend)</li>
                <li>Motorbikes</li>
            </ul>
        </div>
    </div>
</div>
