<div style="display: flex">
    <div class="rectangle"></div>
    <div class="container">
        <div class="info">
            <h1>Likes</h1>
            <ul>
                <li>I love trying new pizza toppings, i never take 2 times in a row the same pizza</li>
                <li>ciao</li>
                <li>ciao</li>
                <li>ciao</li>
                <li>ciao</li>
            </ul>
        </div>
    </div>
    <div class="rectangle"></div>
    <div class="container">
        <div class="info">
            <h1>Dislikes</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure corrupti quisquam soluta architecto optio ea molestias illum maxime nostrum laudantium voluptatum iusto dolor, perferendis cumque. Deserunt corporis asperiores veritatis ad.
                Sed ratione iste perspiciatis nobis, tempora suscipit, nam possimus earum neque, delectus quo. Ducimus ullam sint est aliquam voluptate quod iste voluptatibus impedit, excepturi, dolorem debitis qui nulla rerum nobis.
            </p>
        </div>
    </div>
    
</div>

